* {
    font-family: verdana !important;
}

:root {
    --bg-goldenrod : goldenrod; 
    --text-goldenrod: goldenrod;
    --bg-blue: #231059;
}

.bg-goldenrod {
    background-color: var(--bg-goldenrod);
}

.navlink {
    display: flex;
    justify-content: space-evenly;
}

.nav-link {
    transition: all 0.2s;
}

.nav-link:hover {
    border-bottom: 2px solid var(--text-goldenrod);
    transition: all 0.7s;
}

.logo {
    font-size: 2rem;
    color: goldenrod;
}

.text-justify {
    text-align: justify;
}

.sa {
    color: white;
}

img .bright {
   filter: brightness(4); 
}

.rounded-lg .rounded{
  border-radius: 30px;
}

.bg-blue {
    background-color: var(--bg-blue);
}

.text-white {
    color: white;
}

.content-header .btn {
    border: none;
    padding: 12px 32px;
}
.content-header .btn:hover {
   background-color: var(--bg-goldenrod);
   transition: 0.2s all;

}

